/* google font */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.show-display{
    display: none;
}
.positive-number-show{
    display: none;
}
 
.show-expense{
    display: none;
}
.balance-show{
    display: none;
}
